{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- font-awesome additional social media glyphicons for bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'myapp/position.css' %}" /> -->
    </head>
    <body>
    <noscript>
        <style type="text/css">
            .pagecontainer {display:none;}
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that.
        </div>
    </noscript>
    <div id="page"> 
        <div id="header">
            <div class="title">RT Hockey</div>
        </div> <!-- /header -->
