{% include "myapp/header.html" %}
        <div id="tabs">
        {% include "includes/tabs.html" with active_tab='tab1' %}
        </div>
        <div id="main" class="container">
            <div class="outlined_normal" id="article">
                <h2>Welcome</h2>
                <p>RT Hockey offers comprehensive ice hockey training for players and skaters of all ages and abilities.</p><p>Professional staff offer clinics and programs in the following areas:</p>
                <ul>
                <li>Individual and Group Lessons</li>
                <li>Power Skating</li>
                <li>Puck Control</li>
                <li>Shooting</li>
                <li>Body Checking</li>
                <li>Learn-to-Play-Hockey</li>
                <li>Learn-to-Skate</li>
                </ul>
            </div>
        </div> <!-- /main -->
{% include "myapp/footer.html" %}
