        <div id="footer">
            <div class="row">
                <div class="col-md-6" id="about">ABOUT</div>
                <div class="col-md-6" id="contact">CONTACT</div>
            </div> <!-- row -->
            <div class="row">
                <span class="override"><div class="col-md-6" id="about">RT Hockey has over 10 years experience in developing hockey skills with our clients.</div></span>
                <span class="override"><div class="col-md-6" id="contact">
                    <a href="mailto:rob@rthockeybc.com">
                        <abbr title="Email">
                            <i class="glyphicon glyphicon-envelope"></i>
                            rob@rthockeybc.com
                        </abbr>
                    </a>
                    <br/>
                    <abbr title="Phone">
                        <i class="glyphicon glyphicon-earphone"></i>
                        778.908.4039
                    </abbr>
                    <br/>
                    <a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%253A%252F%252Fwww.rthockeybc.com%252F%2523.VO1R-69AGCQ.facebook%26ret%3Dlogin&display=popup" target="_blank">
                        <abbr title="Facebook">
                            <i class="fa fa-facebook-official"></i>
                            &nbsp;RT Hockey
                        </abbr>
                    </a>
                </div></span>
            </div> <!-- row -->
        </div> <!-- /footer -->
    </div> <!-- /page -->
    </body>
</html>
