{% include "myapp/header.html" %}
    <div id="main" class="container">
        <div class="outlined_normal" id="article">
        <h2>{{ program.title }}</h2>
        <p>{{ program.description }}</p>
        <p>Cost: ${{ program.cost }}.00 (tax incl)</p>
        {% if program_sessions_list %}
            This program has {{ program_sessions_list|length }} session{% if program_sessions_list|length > 1 %}s{% endif %}:
            <ul>
            {% for session in program_sessions_list %}
                <li>
                    <a href="{% url 'myapp:session' session.id %}">Session {{ forloop.counter }}: {{ session.start_date }} at {{ session.location.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No sessions are available.</p>
        {% endif %}
        </div> <!-- article -->
    </div> <!-- main -->
{% include "myapp/footer.html" %}
