body{
    background-image:url("./ice_texture.jpg");
}

a{
    color:#428bca;
}

.title{
    position:absolute;
    top:20px;
    margin-left:6%;
    width:88%;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 72pt;
    color: #663333;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.outlined_normal{
font-family: 'Roboto Slab', serif;
font-size: 15pt;
color:white;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

#article{
    margin:10px;
    clear:left;
}

#article_centred{
    margin-left:auto;
    margin-right:auto;
    width:20%;
}

#content {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}

h1 {
    margin: 0;
    padding: 0 0 1em 0;
}

#tabs{
    position:absolute;
    top:215px;
    left:6%;
    width:88%;
    z-index:5;
    background-color:#777;
}

#tabs ul {
    list-style: none;
    margin: 0;
}

#tabs li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 0;
}

#tabs a {
    text-decoration: none;
    display: block;
    background: #777777;
    padding: 0.24em 1em;
    /*color: #00c;*/
    color: #633;
    width: 8em;
    text-align: center;
    font-weight:bold;
}

#tabs a:hover {
    background: #ddf;
}

#tabs .selected {
    border-color: black;
}

#tabs .selected a {
    position: relative;
    top: 1px;
    background: white;
    color:#633;
    font-weight: bold;
}

#header{
    position:relative;
    z-index:2;
}

#main{
    position:absolute;
    top:0px;
    left:6%;
    width:88%;
    min-height:98%;
    /* move below header */
    padding-top:244px;
    border-radius:4px;
    background-image: url("./rink.jpg");
    background-repeat: no-repeat;
}

.slide{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-height:700px;
}

#frmRegisterProgram p input{
    color: black;
}

/* bottom cells */
#footer{
    position:absolute;
    bottom:25px;
    left:6%;
    width:88%;
    height:28px;
    text-align:right;
    padding-right:20px;
    color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
